bin/
output
**/*.coverprofile
**/coverage.out
**/coverage.txt
**/*.log

#binary
scserver
scctl
main

*.iml
.idea/
**/*junit.xml
**/*.exe
**/*.tgz
**/apache-servicecomb-service-center-*

vendor

# for local UT
**/conf/
!etc/conf/
etc/ssl/
data
tmp/
servicecomb-service-center
service-center

docs/_build
docs/_static
docs/_templates

.DS_Store
# go mod

# VS Code Project files
.vscode

# Delve 
__debug_bin
private.key
rbac.pub

# ux
bower_components
node_modules
dist
