bin/
output
**/*.coverprofile
**/coverage.out
**/coverage.txt
**/*.log
syncer/syncer

*.iml
.idea/
**/*junit.xml
**/*.exe
**/*.tgz
**/apache-servicecomb-service-center-*

vendor/**
!vendor/manifest

# for local UT
**/conf/
data
syncer-data
!etc/conf/
frontend/app/bower_components
etc/data/
etc/ssl/
frontend/bower_components/
frontend/node_modules/
tmp/
servicecomb-service-center
service-center

docs/_build
docs/_static
docs/_templates
