<mat-toolbar color="primary" class="expanded-toolbar" fxLayoutAlign="space-between center">
  <span fxLayout="column" fxLayoutAlign="start start">
    <button mat-button routerLink="/"><span class="fas fa-money-check-alt" style="font-size: 24px;color:white"></span>Control Panel</button>
    <span class="mat-small" style="padding-left:20px;">
     ServiceComb Control Panel
    </span>
  </span>

  <div fxLayout="row" fxHide fxShow.gt-sm>
    <button mat-button routerLink="/" routerLinkActive="mat-accent" [routerLinkActiveOptions]="{exact:true}">
      Dashboard
    </button>
    <button mat-button routerLink="/author" routerLinkActive="mat-accent">
      Author
    </button>
  </div>
  <button mat-button [mat-menu-trigger-for]="menu" fxHide="false" fxHide.gt-sm>
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>
<mat-menu #menu="matMenu" fxHide>
  <button mat-menu-item routerLink="/" routerLinkActive="mat-accent" [routerLinkActiveOptions]="{exact:true}">
    Dashboard
  </button>
  <button mat-menu-item routerLinkActive="mat-accent" routerLink="/author">
    Author
  </button>
</mat-menu>
<router-outlet></router-outlet>
<mat-toolbar color="primary" class="e xpanded-toolbar" fxLayoutAlign="space-between center" style="margin-top: 6vh;">
  <div style="font-size:12px;text-align: center; line-height: 20px;width:100%;">
    * github.com/apache/servicecenter<br/>
  </div>
</mat-toolbar>
