<!--
Licensed to the Apache Software Foundation (ASF) under one or more
contributor license agreements.  See the NOTICE file distributed with
this work for additional information regarding copyright ownership.
The ASF licenses this file to You under the Apache License, Version 2.0
(the "License"); you may not use this file except in compliance with
the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->
<div class="title">
  <span>配置管理</span>
  <d-button
    icon="icon-add"
    bsStyle="danger"
    style="float: right"
    (click)="onCreate()"
  >
    新建配置
  </d-button>
</div>
<div class="header">
  <app-filter-refresh
    [category]="category"
    (selectedTagsChange)="onSelectedTagsChange($event)"
    (refresh)="onRefresh()"
  >
  </app-filter-refresh>
</div>

<d-data-table
  [dataSource]="dataSource"
  [scrollable]="true"
  [type]="'striped'"
  [tableWidthConfig]="columns"
  [headerBg]="true"
>
  <thead dTableHead>
    <tr dTableRow>
      <th dHeadCell *ngFor="let colOption of columns">
        {{ colOption.header }}
      </th>
    </tr>
  </thead>
  <tbody dTableBody>
    <ng-template let-rowItem="rowItem" let-rowIndex="rowIndex">
      <tr dTableRow>
        <td dTableCell>{{ rowItem.key }}</td>
        <td dTableCell>{{ rowItem.status | configStatusPipe }}</td>
        <td dTableCell>
          <d-tag
            class="cse-mg-right-xs"
            *ngFor="let tag of rowItem.labels_format; let i = index"
            [tag]="tag"
          ></d-tag>
        </td>
        <td dTableCell>{{ rowItem.labels | ConfigTypePipe }}</td>
        <td dTableCell>{{ rowItem.value_type }}</td>
        <td dTableCell>
          {{ rowItem.update_time * 1000 | date: "yyyy/MM/dd HH:mm:ss zzzz" }}
        </td>
        <td dTableCell>
          <d-button
            *ngIf="rowItem.status === 'enabled'"
            bsStyle="text"
            (click)="onForbidden(rowItem)"
            >禁用</d-button
          >
          <d-button
            *ngIf="rowItem.status === 'disabled'"
            bsStyle="text"
            (click)="onEnable(rowItem)"
            >启用</d-button
          >
          <d-button
            bsStyle="text"
            class="cse-mg-left-xs"
            [routerLink]="'/kie/eidt'"
            [queryParams]="{
              kvId: rowItem.id
            }"
            >更新</d-button
          >
          <d-button
            bsStyle="text"
            class="cse-mg-left-xs"
            (click)="onDeleteItem(rowItem)"
            >删除</d-button
          >
        </td>
      </tr>
    </ng-template>
    <ng-template #noResultTemplateRef>
      <div style="text-align: center; margin-top: 20px">No Data</div>
    </ng-template>
  </tbody>
</d-data-table>

<d-pagination
  class="cse-mg-top-xs"
  [autoHide]="true"
  [size]="'sm'"
  [total]="pager.total"
  [(pageSize)]="pager.pageSize"
  [(pageIndex)]="pager.pageIndex"
  [canViewTotal]="true"
  [canChangePageSize]="true"
  [pageSizeOptions]="pager.pageSizeOptions"
  [maxItems]="5"
  (pageIndexChange)="onPaginationChange($event, pager.pageSize)"
  (pageSizeChange)="onPaginationChange(pager.pageIndex, $event)"
>
</d-pagination>
