.header-image {
  background-image: url('/assets/alec-z.jpeg');
  background-size: cover;
  width: 160px;
  height: 160px;
  border-radius: 80px;
  margin: 0 auto;
}

.alec-image {
  background-image: url('/assets/alec-z.jpeg');
}

.cong-image {
  background-image: url('/assets/yangcong.jpeg');
}

.author-scope {
  width: 800px;
  margin: 0px auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}
