<!--
Licensed to the Apache Software Foundation (ASF) under one or more
contributor license agreements.  See the NOTICE file distributed with
this work for additional information regarding copyright ownership.
The ASF licenses this file to You under the Apache License, Version 2.0
(the "License"); you may not use this file except in compliance with
the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->

<table class="table table-bordered table-responsive margin20">
	<thead class="infoTableHead schemaTable">
		<th>{{ "name" | translate }}</th>
		<th>{{ "operations" | translate }}</th>
	</thead>
	<tbody>
		<tr ng-repeat="schema in schemaName">
			<td>{{ schema }}</td>
			<td>
        		<div class="tooltip-wrapper inline" title="{{(noInstance ? ('noInstanceTip' | translate) : '')}}">
					<a ng-class="{'disabled': noInstance}" ng-click="testSchema(schema)">
						{{ "testSchema" | translate }}
					</a>
				</div>
				<span>  |  </span>
				<a ng-click="downloadSchema(schema)" >{{ "download" | translate }} HTML</a>
			</td>
		</tr>
		<tr ng-if="schemaName.length == 0" class="text-center">
			<td colspan="2">{{ "noSchemaFound" | translate }}</td>
		</tr>
	</tbody>
</table>
<div ng-if="schemaName.length > 0">
	<a ng-click="downloadAllSchema()">{{ "downloadAll" | translate }}</a>
</div>
<div id="singleTemplate" ng-hide="true">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/swagger-ui/3.3.2/swagger-ui.css">
    <div id="swagger-template"></div>
</div>
<div id="multipleTemplate" ng-hide="true">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/swagger-ui/3.3.2/swagger-ui.css">
	<div ng-repeat="schema in schemaName">
		<div id="{{schema  | formatSchema}}"></div>
	</div>
</div>
