<mat-list>
  <mat-list-item routerLink="{{routes.SERVICE_OVERVIEW}}" routerLinkActive="active">
    <mat-icon>home</mat-icon>
    Service Overview
  </mat-list-item>
  <mat-list-item routerLink="{{routes.SERVICE_LIST}}" routerLinkActive="active">
    <mat-icon>view_list</mat-icon>
    Service List
  </mat-list-item>
  <mat-list-item routerLink="{{routes.SERVICE_TOPOLOGY}}" routerLinkActive="active">
    <mat-icon>bubble_chart</mat-icon>
    Service Topology
  </mat-list-item>
  <mat-list-item routerLink="{{routes.INSTANCE_LIST}}" routerLinkActive="active">
    <mat-icon>list</mat-icon>
    Instance List
  </mat-list-item>

</mat-list>

<p class="sidebar-title">Help</p>

<mat-list>
  <mat-list-item>
    <mat-icon>library_books</mat-icon>
    Library
  </mat-list-item>
  <mat-list-item>
    <mat-icon>question_answer</mat-icon>
    Guide
  </mat-list-item>
  <mat-list-item>
    <mat-icon>help_outline</mat-icon>
    FAQ
  </mat-list-item>
</mat-list>


