<!--
Licensed to the Apache Software Foundation (ASF) under one or more
contributor license agreements.  See the NOTICE file distributed with
this work for additional information regarding copyright ownership.
The ASF licenses this file to You under the Apache License, Version 2.0
(the "License"); you may not use this file except in compliance with
the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->
<div class="modal-component">
  <h2>{{ "service.create.title" | translate }}</h2>

  <div class="form">
    <form
      dForm
      ngForm
      [formGroup]="formGroup"
      #form="dValidateRules"
      [dValidateRules]="formRules.rule"
    >
      <d-form-item>
        <d-form-label [required]="true">
          {{ "service.create.serviceName" | translate }}
        </d-form-label>
        <d-form-control>
          <input
            dTextInput
            [placeholder]="'service.create.serviceNamePlaceholder' | translate"
            autocomplete="off"
            name="serviceName"
            formControlName="serviceName"
            [dValidateRules]="formRules.usernameRules"
          />
        </d-form-control>
      </d-form-item>
      <d-form-item>
        <d-form-label [required]="true">
          {{ "service.create.app" | translate }}
        </d-form-label>
        <d-form-control>
          <input
            dTextInput
            [placeholder]="'service.create.appPlaceholder' | translate"
            autocomplete="off"
            name="appId"
            formControlName="appId"
            [dValidateRules]="formRules.appIdRules"
          />
        </d-form-control>
      </d-form-item>
      <d-form-item>
        <d-form-label [required]="true">
          {{ "service.create.version" | translate }}
        </d-form-label>
        <d-form-control>
          <input
            dTextInput
            autocomplete="off"
            placeholder="0.0.1"
            name="version"
            formControlName="version"
            [dValidateRules]="formRules.versionRules"
          />
        </d-form-control>
      </d-form-item>
      <d-form-item>
        <d-form-label [required]="true">
          {{ "service.create.environment" | translate }}
        </d-form-label>
        <d-form-control>
          <d-select
            class="w-150"
            [filterKey]="'label'"
            autocomplete="off"
            [options]="envOpetions"
            name="environment"
            formControlName="environment"
            [dValidateRules]="formRules.environmentRules"
            size="sm"
          ></d-select>
        </d-form-control>
      </d-form-item>
      <d-form-item>
        <d-form-label [required]="false">
          {{ "service.create.description" | translate }}
        </d-form-label>
        <d-form-control>
          <textarea
            dTextarea
            autocomplete="off"
            name="description"
            formControlName="description"
            [dValidateRules]="formRules.descriptionRules"
          ></textarea>
        </d-form-control>
      </d-form-item>
    </form>
  </div>
  <div class="footer">
    <d-button
      bsStyle="danger"
      [disabled]="!!form.errorMessage"
      (click)="onCreateBtn()"
      dTooltip
      [content]="form.errorMessage"
    >
      {{ "common.confirm" | translate }}
    </d-button>
    <d-button bsStyle="common" (click)="onCancel()" class="cse-mg-left-lg">
      {{ "common.cancel" | translate }}
    </d-button>
  </div>
</div>
